In [3]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /home/codespace/anaconda3/lib/python3.9/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.2'

In [7]:
!pip install --upgrade pip

Requirement already satisfied: pip in /home/codespace/anaconda3/lib/python3.9/site-packages (24.0)

In [8]:
!pip install pyarrow fastparquet

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: fastparquet in /home/codespace/anaconda3/lib/python3.9/site-packages (2024.2.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: pandas>=1.5.0 in /home/codespace/anaconda3/lib/python3.9/site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: cramjam>=2.3 in /home/codespace/anaconda3/lib/python3.9/site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in /home/codespace/anaconda3/lib/python3.9/site-packages (from fastparquet) (2022.2.0)
Requirement already satisfied: packaging in /home/codespace/anaconda3/lib/python3.9/site-packages (from fastparquet) (21.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2021.3)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/codespace/anaconda3/lib/python3.9/site-packages (from packaging->fastparquet) (3.0.4)
Requirement already satisfied: six>=1.5 in /home/codespace/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [9]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [10]:
num_columns_january = df.shape[1]
print("Number of columns in Jan 2023:", num_columns_january)

Number of columns in Jan 2023: 19

In [11]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.0,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.0,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.0,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.0,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.0,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [12]:
print(df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [14]:
# Convert the pickup and dropoff datetime columns to datetime objects
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
print("Converted pickup datetime:\n", df['tpep_pickup_datetime'].head())

df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
print("\nConverted dropoff datetime:\n", df['tpep_dropoff_datetime'].head())

Converted pickup datetime:
 0   2023-01-01 00:32:10
1   2023-01-01 00:55:08
2   2023-01-01 00:25:04
3   2023-01-01 00:03:48
4   2023-01-01 00:10:29
Name: tpep_pickup_datetime, dtype: datetime64[us]

Converted dropoff datetime:
 0   2023-01-01 00:40:36
1   2023-01-01 01:01:27
2   2023-01-01 00:37:49
3   2023-01-01 00:13:25
4   2023-01-01 00:21:19
Name: tpep_dropoff_datetime, dtype: datetime64[us]

In [15]:
# Compute the duration in minutes
df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
print("\nComputed duration in minutes:\n", df['duration'].head())

Computed duration in minutes:
 0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
Name: duration, dtype: float64

In [17]:
# Compute the standard deviation of the duration
std_dev = df['duration'].std()
print(f"\nThe standard deviation of the trips duration in January is {std_dev} minutes.")

The standard deviation of the trips duration in January is 42.59435124195458 minutes.

In [18]:
# Initial number of records
initial_records = len(df)
print(initial_records)

3066766

In [19]:
# Remove outliers
rm_out = df[(df['duration'] >= 1) & (df['duration'] <= 60)]
print(rm_out)

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee   duration
0                         2.5         0.00   8.433333
1                         2.5         0.00   6.316667
2                         2.5         0.00  12.750000
3                         0.0         1.25   9.616667
4                         2.5         0.00  10.833333
...                       ...          ...        ...
3066761                   NaN          NaN  13.983333
3066762                   NaN          NaN  19.450000
3066763                   NaN          NaN  24.516667
3066764                   NaN          NaN  13.000000
3066765                   NaN          NaN  14.400000

[3009173 rows x 20 columns]

In [20]:
# Number of records after removing outliers
final_records = len(rm_out)
print(final_records)

3009173

In [21]:
# Calculate the fraction of records left
fraction = final_records / initial_records

print(f"The fraction of the records left after dropping the outliers is {fraction}.")

The fraction of the records left after dropping the outliers is 0.9812202822125979.

In [23]:
from sklearn.feature_extraction import DictVectorizer
import numpy as np

# Convert the dataframe into a list of dictionaries
df_dict = rm_out[['PULocationID', 'DOLocationID']].astype(str).to_dict('records')

# Initialize the DictVectorizer
vec = DictVectorizer()

# Fit and transform the vectorizer on our dataset
matrix = vec.fit_transform(df_dict)

# Get the number of columns in the matrix
num_columns = matrix.shape[1]

print(f"The dimensionality of the matrix is: {num_columns}")

The dimensionality of the matrix is: 515

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [25]:
y = rm_out['duration']

# Initialize the Linear Regression model
model = LinearRegression()

In [26]:
# Fit the model on the data
model.fit(matrix, y)

# Predict the target variable
y_pred = model.predict(matrix)

In [27]:
# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y, y_pred))

print(f"The RMSE on the training data is: {rmse}")

The RMSE on the training data is: 7.649261027806873

In [28]:
# Download the February data
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [29]:
# Compute the duration of each trip in minutes (replace 'tpep_pickup_datetime' and 'tpep_dropoff_datetime' with your actual column names)
df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

In [30]:
# Remove outliers from the duration column
df_feb = df_feb[(df_feb['duration'] >= 1) & (df_feb['duration'] <= 60)]

In [31]:
# Apply one-hot encoding to the pickup and dropoff location IDs
df_feb_dict = df_feb[['PULocationID', 'DOLocationID']].astype(str).to_dict('records')
matrix_feb = vec.transform(df_feb_dict)  # Use the same vectorizer fitted on the January data

In [32]:
# Predict the target variable on the February data
y_feb = df_feb['duration']
y_feb_pred = model.predict(matrix_feb)

In [33]:
# Calculate the RMSE on the February data
rmse_feb = np.sqrt(mean_squared_error(y_feb, y_feb_pred))

print(f"The RMSE on the validation data is: {rmse_feb}")

The RMSE on the validation data is: 7.811832597733616